.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
    align-self: center;
    width: 100vw; 
    
    /* height: 100vh;  */
    color: black;

  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-top: 1rem;

  }
  
  .form label {
    margin-bottom: 0.5rem;
  }
  
  .form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%; /* 确保宽度一致 */
    box-sizing: border-box; /* 确保内边距和边框不会影响宽度 */
    margin: 0; /* 去掉默认外边距 */
    color: black;
  }
  
  .submitButton {
    background-color: #3b82f6;
    color: white;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    margin-top: 1rem;
  }
  
  .cancelButton {
    margin-top: 1rem;
    background-color: transparent;
    border: none;
    color: #3b82f6;
    cursor: pointer;
  }

  .container p{
    font-size: 1rem;
    margin-bottom: 15px;
    line-height: 1.6;
  }
  